<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/main.js"></script>
    <title>구해조팀 소개페이지</title>
</head>

<body>

    <div class="cardInputBtn">
        <button>멤버카드 작성하러 가기</button>
    </div>
    <div class="mytitle"> GooHaeJywo
    </div>
    <div>
      <div class="box1">
        <div class="mypost" id="post-box">
          <div class="form-floating mb-3">
            <input id="name" class="myname">
            <label> 이름 </label>
          </div>
          <div class="form-floating mb-3">
            <input id="age" class="myage">
            <label> 나이 </label>
          </div>
          <div class="form-floating mb-3">
            <input id="mbti" class="mymbti">
            <label> MBTI </label>
          </div>
          <div class="form-floating mb-3">
            <input id="hobby" class="hobby">
            <label> 취미 </label>
          </div>
          <div class="form-floating mb-3">
            <input id="image" type="url" class="myimage">
            <label> 이미지URL </label>
          </div>
          <div class="form-floating mb-3">
            <input id="favorite" type="url" class="myfavoriteURL">
            <label> 좋아하는 것 소개 URL </label>
          </div>
          <div class="mybtn">
            <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
          </div>
        </div>
      </div>
    </div>
    <div class="memberCards">
        <div class="card">
            <img src="https://ifh.cc/g/RCgb6F.jpg" class="card-img-top" alt="https://ifh.cc/g/RCgb6F.jpg">
            <div class="card-body">
                <h5 class="card-name">이은한</h5>
                <p class="card-text">여기에 짧은 소개글이 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://ifh.cc/g/0WyMQ8.jpg" class="card-img-top" alt="https://ifh.cc/g/0WyMQ8.jpg">
            <div class="card-body">
                <h5 class="card-name">이동준</h5>
                <p class="card-text">여기에 짧은 소개글이 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://ifh.cc/g/Ho16CF.jpg" class="card-img-top" alt="https://ifh.cc/g/Ho16CF.jpg">
            <div class="card-body">
                <h5 class="card-name">윤효정</h5>
                <p class="card-text">여기에 짧은 소개글이 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://ifh.cc/g/ohqvf6.jpg" class="card-img-top" alt="https://ifh.cc/g/ohqvf6.jpg">
            <div class="card-body">
                <h5 class="card-name">조성록</h5>
                <p class="card-text">여기에 짧은 소개글이 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://ifh.cc/g/ddmYch.jpg" class="card-img-top" alt="https://ifh.cc/g/ddmYch.jpg">
            <div class="card-body">
                <h5 class="card-name">최수아</h5>
                <p class="card-text">여기에 짧은 소개글이 들어갑니다.</p>
            </div>
        </div>
    </div>

    <!-- 응원글 -->
    <div class="commentGroup">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">9해조 멤버들을 위한 응원글을 남겨보세요 !</label>
        </div>
        <div class="commentBtn">
            <button type="button" class="btn btn-secondary btn-sm">입력</button>
        </div>
    </div>

    <footer id="footer">
      <p>구해조 🆘</p>
    </footer>
</body>

</html>